<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Conference Twitter Wall</title>
  <link rel="stylesheet" type="text/css" href="app/screen.css">

  <!-- make your customisations to the twitter wall using the custom.css -->
  <link rel="stylesheet" type="text/css" href="custom.css">
</head>
<body class="content-wrapper flex-container">
  <div class="left-column flex-container-v">
    <div class="info">
      <div id="schedule" class="schedule">
        <!-- style the schedule as you please -->
        <div date-time="1000">
          <h4>Next: 10:00am</h4>
          <h3>Felix Niklas</h3>
          <h2>Image Processing with JavaScript</h2>
        </div>
        <div date-time="1100">
          <h4>Next: 11:00am</h4>
          <h3>Stephan Bönnemann</h3>
          <h2>Stop Scratching Your Own Itch</h2>
        </div>
        <div date-time="1200">
          <h4>Next: 12:00am</h4>
          <h3>Mouse Braun</h3>
          <h2>Punk DIY Ethics in Programming – Stop Following Blindly and Build Your Own God Damned Tools</h2>
        </div>
      </div>
    </div>
    <div class="attendees">
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
      <a href="#">
        <div class="content"><img src="images/sample/marcin.jpg" alt=""></div>
      </a>
    </div>
  </div>
</div>

<div class="right-column">
  <div id="twitterwall" class="twitterwall">
    <ul id="tweets">
      <li id="<%=id%>">
        <div class="tweet">
          <div class="vcard">
            <a href="http://twitter.com/<%=screen_name%>" class="url">
              <img alt="@<%=screen_name%>" class="photo fn" src="images/sample/marcin.jpg" />
            </a>
          </div>
          <div class="hentry">
            <strong><a href="http://twitter.com/<%=screen_name%>" title="<%=name%>">Tabea Twitterbacke</a></strong>
            <span class="entry-content">
              With no doubt: @Reject.JS is the most awesome conference I've ever attended to.
            </span>
            <span class="meta entry-meta">
              <a href="http://twitter.com/<%=screen_name%>/status/<%=id%>" class="entry-date" rel="bookmark">
                <span class="published" title="<%=created_at%>">15:27 Sep 11th
                </span>
              </a>
            </span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<script type="text/html" id="tweet_template">
<li id="<%=id%>">
<div class="tweet">
<div class="vcard">
<a href="http://twitter.com/<%=screen_name%>" class="url"><img style="height: 48px; width: 48px;" alt="@<%=screen_name%>" class="photo fn" height="48" src="<%=profile_image_url%>" width="48" /></a>
</div>
<div class="hentry">
<strong><a href="http://twitter.com/<%=screen_name%>" title="<%=name%>"><%=screen_name%></a></strong>
<span class="entry-content"><%=tweet%></span>
<span class="meta entry-meta"><a href="http://twitter.com/<%=screen_name%>/status/<%=id%>" class="entry-date" rel="bookmark"><span class="published" title="<%=created_at%>"><%=nice_date%></span></a></span>
</div>
<% if (embeds.length) for (var i = 0; i < embeds.length; i++) { %>
  <%=embeds[i]%>
  <% } %>
  </div>
  </li>
  </script>


  <script src="config.js"></script>
  <script src="app/js/twitterlib.js"></script>
  <script src="app/js/jquery.min.js"></script>
  <script src="app/js/app.js"></script>
</body>
</html>







